data_source_config {
    source_type: APP_TYPE_SOURCE
    kvick_corpus: HOLOGRAM_DEFAULT
}

data_source_config {
    source_type: APPS_DAILY_DATA_SOURCE
    kvick_corpus: HOLOGRAM_DEFAULT
}

data_source_config {
    source_type: APPS_TITLE_TIER
    kvick_c: HOLOGRAM_DEFAULT
}

data_source_config {
    source_type: DEVICE_INTEGRITY_SOURCE
}

data_source_config {
    source_type: APP_COUNTRY_PUBLISH_TIME
    kvick_corpus: HOLOGRAM_DEFAULT
}

data_source_config {
    source_type: PLAY_COUNTRY
    kvick_corpus: HOLOGRAM_DEFAULT
}

data_source_config {
    source_type: QUERY_CATEGORY_SOURCE
    kvick_corpus: HOLOGRAM_DEFAULT
}

data_source_config {
    source_type: SHIELD_ID 
    kvick_corpus: HOLOGRAM_DEFAULT
}

data_source_config {
    source_type: SPAM 
    kvick_corpus: HOLOGRAM_SPAM
}

data_source_config {
    source_type: USER_ATTRIBUTE
    kvick_corpus: HOLOGRAM_USER_ATTRIBUTE
}

data_source_config {
    source_type: USER_EXPERIMENT_ID_AND_TEST_CODE
    kvick_corpus: HOLOGRAM_USER_EXPERIMENT_ID_AND_TEST_CODE
}

data_source_config {
    source_type: ANDROID_SPAM_ABUSE
    kvick_corpus: HOLOGRAM_ANDROID_SPAM_ABUSE
} 

data_source_config {
    source_type: PRIME_MERIDIAN
    kvick_corpus: HOLOGRAM_PRIME_MERIDIAN
}